	<footer class="footer is-family-secondary">
		<div class="container">
			<div class="content has-text-centered">
				<p>Todos los derechos reservados.</p>
				<p><a href="terminos.html">Términos y condiciones de uso del gimnasio</a></p>
				<p><a href="terminosrecurrentes.html">Términos y condiciones para planes mensuales recurrentes</a></p>
				<p><a href="normas.html">Normas generales de convivencia</a></p>
				<p>Libertad 1006, Melipilla</p>
				<p class="pt-6 is-family-primary">Desarrollado por <a id="webdev" href="https://betarraga.com">betarraga</a></p>
			</div>
		</div>
	</footer>

