<div class="columns is-centered is-multiline">
	<div class="column is-4">
		<div class="card has-background-link card-igual">
			<div class="card-content">
				<div class="columns is-gapless">
					<div class="column is-1">
						<p class="title vertical">Plan Libre</p>
					</div>
					<div class="column">
						<p class="title">Mensual</p>
						<div class="has-text-centered">
							<p class="is-size-1">$34.990</p>
							<p class="is-size-6">+ matrícula $15.990</p>
							<br>
							<a class="button is-primary is-large is-rounded" class="is-size-1" href="https://mpago.la/1AT51w6">Contratar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="column is-4">
		<div class="card has-background-link card-igual">
			<div class="card-content">
				<div class="columns is-gapless">
					<div class="column is-1">
						<p class="title vertical">Plan Libre</p>
					</div>
					<div class="column">
						<p class="title">Semestral</p>
						<div class="has-text-centered">
							<p class="is-size-1">$24.990</p>
							<p class="is-size-6">al mes</p>
							<br>
							<a class="button is-primary is-large is-rounded" class="is-size-1" href="https://www.mercadopago.cl/subscriptions/checkout?preapproval_plan_id=2c93808496b5cfd80196b6d8b8760098">Contratar</a>
							<div class="is-family-secondary">
								<p class="has-text-weight-bold">Mediante pago recurrente</p>
								<p class="has-text-info has-text-weight-bold">Ahorro: $66.000</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="column is-4">
		<div class="card has-background-link card-igual">
			<div class="card-content">
				<div class="columns is-gapless">
					<div class="column is-1">
						<p class="title vertical">Plan Libre</p>
					</div>
					<div class="column">
						<p class="title">Anual</p>
						<div class="has-text-centered">
							<p class="is-size-1">$20.990</p>
							<p class="is-size-6">al mes</p>
							<br>
							<a class="button is-primary is-large is-rounded" class="is-size-1" href="https://drive.google.com/drive/folders/0B7QxHSJhsuKWbGdMeUlNczVvUnc?resourcekey=0-jAd6puvEMmb3DbGgSJClkA">Contratar</a>
							<div class="is-family-secondary">
								<p class="has-text-weight-bold">Mediante pago recurrente</p>
								<p class="has-text-info has-text-weight-bold">Ahorro: $180.000</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
