<div class="columns is-centered is-multiline">
	<div class="column is-4">
		<div class="card has-background-info card-igual">
			<div class="card-content">
				<div class="columns is-gapless">
					<div class="column is-1">
						<p class="title vertical">Plan Guiado</p>
					</div>
					<div class="column">
						<p class="title">Mensual</p>
						<div class="has-text-centered">
							<p class="is-size-1">$49.990</p>
							<p class="is-size-6">+ matrícula $15.990</p>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="column is-4">
		<div class="card has-background-info card-igual">
			<div class="card-content">
				<div class="columns is-gapless">
					<div class="column is-1">
						<p class="title vertical">Plan Guiado</p>
					</div>
					<div class="column">
						<p class="title">Semestral</p>
						<div class="has-text-centered">
							<p class="is-size-1">$34.990</p>
							<p class="is-size-6">al mes</p>
							<br>
							<a class="button is-primary is-large is-rounded" class="is-size-1" href="https://www.mercadopago.cl/subscriptions/checkout?preapproval_plan_id=2c93808496c543980196c772749300e2">Contratar</a>
							<div class="is-family-secondary">
								<p class="has-text-weight-bold">Mediante pago recurrente</p>
								<p class="has-text-link has-text-weight-bold">Ahorro: $90.000</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="column is-4">
		<div class="card has-background-info card-igual">
			<div class="card-content">
				<div class="columns is-gapless">
					<div class="column is-1">
						<p class="title vertical">Plan Guiado</p>
					</div>
					<div class="column">
						<p class="title">Anual</p>
						<div class="has-text-centered">
							<p class="is-size-1">$30.990</p>
							<p class="is-size-6">al mes</p>
							<br>
							<a class="button is-primary is-large is-rounded" class="is-size-1" href="https://www.mercadopago.cl/subscriptions/checkout?preapproval_plan_id=2c93808496ce9bff0196cf9133b10078">Contratar</a>
							<div class="is-family-secondary">
								<p class="has-text-weight-bold">Mediante pago recurrente</p>
								<p class="has-text-link has-text-weight-bold">Ahorro: $228.000</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
