{% extends "base.html" %}


{% block contenido %}
<section class="section">
	<div class="tile is-ancestor">
		<div class="tile is-8 is-parent">
			<article class="tile is-child box">
				<div class="content">
				       <p class="title">Fitness Training</p>
				       <ul>
				       	<li>
				       		<p class="subtitle is-family-secondary">Sala de máquinas: contamos con asesorías para entrenamientos de musculación en sala de máquinas, equipada con máquinas de alta gama para el desarrollo de un entrenamiento altamente eficiente.</p>
				       	</li>
				       	<li>
				       		<p class="subtitle is-family-secondary">Functional Training: si tu objetivo es controlar tu peso corporal, por medio del entrenamiento funcional lograrás tu objetivo de una forma rápida segura y eficiente, aumenta tu gasto energético diario y mejora una serie de habilidades físicas como la resistencia muscular, resistencia cardiorrespiratoria, fuerza, coordinación, entre otras.</p>
				       	</li>
				       	<li>
				       		<p class="subtitle is-family-secondary">Crossfit: en este programa encontrarás un tipo de entrenamiento altamente variado de alta intensidad con una mezcla de diferentes tipos de ejercicios funcionales, el cual incluye movimientos gimnásticos, halterofilia y ejercicios cardiovasculares, contamos con un amplio espacio físico, bien equipado para el desarrollo de la actividad.</p>
				       	</li>
				       	<li>
				       		<p class="subtitle is-family-secondary">Pilates: entrenamiento con una metodología de muy bajo impacto, ideal para quienes requieras iniciar con un entrenamiento de intensidad moderado pero no por ello menos eficiente, una de las principales características de esta actividad es el Fuerte trabajo a nivel del Core (zona abdominal)</p>
				       	</li>
				       	<li>
				       		<p class="subtitle is-family-secondary">TRX</p>
				       	</li>
				       </ul>
				</div>
			</article>
		</div>
		<div class="tile is-vertical is-parent">
			<article class="tile is-child box">
				<p class="title">Senior Program</p>
				<p class="subtitle is-family-secondary">Programa diseñado para personas mayores que busquen mejorar su rendimiento físico y funcional a través de métodos de entrenamiento altamente seguros. Cuyo objetivo es combatir las enfermedades y limitaciones asociadas a la falta de actividad.</p>
				</p>
			</article>
			<article class="tile is-child box">
				<p class="title">Sport Training</p>
				<p class="subtitle is-family-secondary">Entrenamiento personalizado para deportistas que requieran aumentar su rendimiento físico. Cada programa de entrenamiento se centra en la noción de especialidad deportiva, logrando así un mejor performance a mediano y largo plazo. Ciclismo, motocross, running, fútbol, tenis, entre otras disciplinas.</p>
			</article>
		</div>
	</div>
</section>
{% endblock %}
