{% extends "base.html" %}
{% block contenido %}
<section class="section">
	<div class="content">
		<p class="title is-uppercase has-text-centered">Términos y condiciones para planes mensuales recurrentes</p>
		<div class="has-text-justified is-family-secondary">
			<p>Al contratar un plan mensual recurrente mediante suscripción automática, el usuario acepta los siguientes términos, condiciones y políticas de uso:</p>
			<ol>
				<li>Duración del plan:
					<ol>
						<li>La suscripción tendrá una duración determinada (ej. 6 o 12 meses), la cual será acordada entre el usuario y el establecimiento al momento de la contratación, la cual quedara registrada por escrito en la plataforma de pago.</li>
					</ol>
				</li>
				<li>Pago automático:
					<ol>
						<li>El pago se realizará de forma automática cada mes, utilizando la tarjeta de débito o crédito registrada en la plataforma de pago asociada. Es responsabilidad del usuario mantener vigente y con saldo disponible el medio de pago asociado.</li>
					</ol>
				</li>
				<li>Congelamiento del plan:
					<ol>
						<li>El usuario podrá solicitar la suspensión temporal (congelamiento) del plan únicamente en casos de fuerza mayor que impidan la práctica deportiva, como problemas de salud debidamente acreditados mediante certificado médico.</li>
						<li>Una vez por año calendario, podrá solicitar una congelación de hasta 30 días por motivos personales (viajes, trabajo, etc.), con un aviso mínimo de 7 días de anticipación.</li>
					</ol>
				</li>
				<li>Cancelación anticipada de la suscripción:
					<ol>
						<li>El usuario puede cancelar su suscripción en cualquier momento, siempre que lo haga con al menos 30 días de anticipación.</li>
						<li>En caso de cancelación antes de completar el periodo acordado, se aplicará un cargo de $5.000 por cada mes restante. Además, el mes siguiente al aviso será cobrado como parte del preaviso y podrá ser utilizado normalmente.</li>
						<ul>
							<li>Ejemplo: Si un usuario contrata un plan recurrente de 6 meses y decide cancelar al finalizar el mes 3:</li>
							<li>Se cobrará el 4° mes completo (preaviso de 30 días).</li>
							<li>Se sumará una penalización de $10.000 por los 2 meses restantes ($5.000 por mes).</li>
							<li>El usuario podrá hacer uso del gimnasio durante el 4° mes.</li>
						</ul>
					</ol>
				</li>
				<li>Modificaciones a los términos:
					<ol>
						<li>El establecimiento se reserva el derecho de modificar estas políticas cuando estime conveniente.</li>
				</li>
			</ol>
		</div>
	</div>
</section>
{% endblock %}
