<section>
	<h1 class="is-size-2 has-text-centered">Testimonios</h1>
<div class="columns py-6">
	<div class="column">
		<figure class="image is-9by16">
		<iframe
		class="has-ratio"
 		width="405"
 		height="720"
 		src="https://www.youtube.com/embed/8nbMvad01KQ"
 		title="YouTube video player"
 		frameborder="0"
 		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
 		allowfullscreen>
		</iframe>
	</div>
	<div class="column">
		<figure class="image is-9by16">
		<iframe
		class="has-ratio"
 		width="405"
 		height="720"
 		src="https://www.youtube.com/embed/tqLlTmWIjfg"
 		title="YouTube video player"
 		frameborder="0"
 		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
 		allowfullscreen>
		</iframe>
	</div>
	<div class="column">
		<figure class="image is-9by16">
		<iframe
		class="has-ratio"
 		width="405"
 		height="720"
 		src="https://www.youtube.com/embed/53hcL80rYfc"
 		title="YouTube video player"
 		frameborder="0"
 		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
 		allowfullscreen>
		</iframe>
	</div>
	<div class="column">
		<figure class="image is-9by16">
		<iframe
		class="has-ratio"
 		width="405"
 		height="720"
 		src="https://www.youtube.com/embed/gAJNX13kyd4"
 		title="YouTube video player"
 		frameborder="0"
 		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
 		allowfullscreen>
		</iframe>
	</div>
</div>
</section>
